dify_inoreader_daily_workflow.yml
app:
  name: Inoreader每日选题摘要
  mode: advanced-chat
  icon: 📰
  description: 按Claude标准自动筛选Inoreader新闻，生成每日选题摘要

workflow:
  graph:
    nodes:
      - id: start
        data:
          type: start
          variables:
            - key: hours
              type: number
              default: "24"
              description: 获取最近多少小时的内容
            - key: min_score
              type: number
              default: "55"
              description: 最小潜力值阈值
        position:
          x: 100
          y: 100

      - id: fetch_inoreader
        data:
          type: http-request
          title: 获取Inoreader内容
          method: GET
          url: https://www.inoreader.com/reader/api/0/stream/contents/user/-/state/com.google/reading-list
          headers: |
            {
              "Authorization": "Bearer {{#context.inoreader_token#}}"
            }
          params: |
            {
              "n": 200,
              "ot": {{ (now - (start.hours | int) * 3600) | int }}
            }
        position:
          x: 300
          y: 100

      - id: parse_items
        data:
          type: code
          title: 解析新闻条目
          code: |
            def main(arg1: dict) -> dict:
                import json
                data = json.loads(arg1.get('body', '{}'))
                items = data.get('items', [])
                
                parsed = []
                for item in items:
                    parsed.append({
                        'id': item.get('id', ''),
                        'title': item.get('title', ''),
                        'summary': clean_html(item.get('summary', {}).get('content', '')),
                        'source': item.get('origin', {}).get('title', '未知来源'),
                        'link': item.get('alternate', [{}])[0].get('href', ''),
                        'published': item.get('published', 0)
                    })
                
                return {'items': parsed}
            
            def clean_html(html):
                import re
                if not html:
                    return ''
                text = re.sub(r'<[^>]+>', ' ', html)
                text = re.sub(r'https?://\S+', '', text)
                return ' '.join(text.split())[:300]
        position:
          x: 500
          y: 100

      - id: analyze_topics
        data:
          type: llm
          title: Claude标准选题分析
          model:
            provider: openai
            name: gpt-4o
            mode: chat
          prompt: |
            你是一个资深科技媒体编辑，需要按Claude标准评估以下新闻的选题潜力。

            【选题评估标准】（按重要性排序）：
            1. 重大突破/首次 (+20分)：breakthrough, milestone, world first, 颠覆性技术, 行业首次
            2. 产品发布 (+18分)：新品发布、重大更新、新功能上线
            3. 争议/冲突事件 (+16分)：安全争议、人事变动、公司冲突、法律纠纷
            4. 核心AI公司/产品提及 (+15分)：OpenAI, Anthropic, Claude, ChatGPT, GPT-4, Gemini, xAI等
            5. 融资/估值 (+14分)：大额融资、IPO、估值变化
            6. 安全/伦理问题 (+13分)：AI安全、伦理争议、风险提示
            7. 核心人物动态 (+12分)：Sam Altman, Elon Musk, Dario Amodei, 黄仁勋等
            8. 行业影响 (+10分)：对整个行业有重大影响的事件

            【待评估新闻】：
            {{#parse_items.result.items#}}

            【输出要求】：
            1. 只推荐潜力值≥{{start.min_score}}分的选题
            2. 每个选题包含：
               - 中文标题（【类型】实体：吸引人的标题）
               - 中文摘要（一句话概括核心内容）
               - 选题类型：【突破】【新品】【争议】【融资】【安全】【人事】
               - 核心实体（公司|人物）
               - 潜力值（0-100分）
               - 选题理由（为什么值得报道）
               - 来源ID（对应输入中的序号）
            3. 相似新闻要合并成一个选题
            4. 按潜力值从高到低排序

            请返回JSON格式：
            {
              "topics": [
                {
                  "title": "【类型】实体：中文标题",
                  "summary": "中文摘要",
                  "type": "突破|新品|争议|融资|安全|人事",
                  "entity": "公司|人物",
                  "score": 85,
                  "reason": "选题理由",
                  "source_ids": [1, 2]
                }
              ]
            }
          temperature: 0.3
        position:
          x: 700
          y: 100

      - id: parse_topics
        data:
          type: code
          title: 解析选题结果
          code: |
            def main(arg1: str) -> dict:
                import json
                import re
                
                text = arg1
                # 提取JSON
                if '```json' in text:
                    json_str = text.split('```json')[1].split('```')[0].strip()
                elif '```' in text:
                    json_str = text.split('```')[1].strip()
                else:
                    # 查找 { } 包裹的内容
                    start = text.find('{')
                    end = text.rfind('}')
                    if start != -1 and end != -1:
                        json_str = text[start:end+1]
                    else:
                        json_str = text
                
                try:
                    data = json.loads(json_str)
                    return data
                except:
                    return {'topics': [], 'error': '解析失败'}
        position:
          x: 900
          y: 100

      - id: enrich_data
        data:
          type: code
          title: 补充来源链接
          code: |
            def main(arg1: dict, arg2: dict) -> dict:
                topics = arg1.get('topics', [])
                items = arg2.get('items', [])
                
                for topic in topics:
                    source_links = []
                    seen_urls = set()
                    
                    for sid in topic.get('source_ids', []):
                        idx = sid - 1
                        if 0 <= idx < len(items):
                            item = items[idx]
                            url = item.get('link', '')
                            if url and url not in seen_urls:
                                source_links.append({
                                    'name': item.get('source', '未知来源'),
                                    'url': url
                                })
                                seen_urls.add(url)
                    
                    topic['sourceLinks'] = source_links[:5]
                    topic['sources'] = len(source_links)
                
                return {'topics': topics, 'count': len(topics)}
        position:
          x: 1100
          y: 100

      - id: generate_markdown
        data:
          type: code
          title: 生成Markdown报告
          code: |
            def main(arg1: dict) -> dict:
                from datetime import datetime
                
                topics = arg1.get('topics', [])
                today = datetime.now().strftime('%Y-%m-%d')
                
                high_potential = [t for t in topics if t.get('score', 0) >= 75]
                medium_potential = [t for t in topics if 55 <= t.get('score', 0) < 75]
                
                lines = [f'# Inoreader 每日选题摘要 - {today}', '**Claude格式** | 按传播潜力评分排序\n', '---\n']
                
                # 高潜力板块
                if high_potential:
                    lines.append('## 🔥 高潜力选题（Score ≥ 75）\n')
                    for i, t in enumerate(high_potential, 1):
                        lines.append(f'### {i}. {t.get("title", "")} —— 潜力值: {t.get("score", 0)}')
                        lines.append(f'**中文摘要**：{t.get("summary", "")}\n')
                        lines.append(f'**选题理由**：{t.get("reason", "")}\n')
                        lines.append('**来源**：')
                        for link in t.get('sourceLinks', []):
                            lines.append(f'- [{link.get("name", "")}]({link.get("url", "")})')
                        lines.append('')
                
                # 中等潜力板块
                if medium_potential:
                    lines.append('## 📌 中等潜力选题（Score 55-70）\n')
                    for i, t in enumerate(medium_potential, len(high_potential) + 1):
                        lines.append(f'### {i}. {t.get("title", "")} —— 潜力值: {t.get("score", 0)}')
                        lines.append(f'**中文摘要**：{t.get("summary", "")}\n')
                        lines.append(f'**选题理由**：{t.get("reason", "")}\n')
                        lines.append('')
                
                # 统计
                lines.append('---\n')
                lines.append('## 📊 统计摘要\n')
                lines.append(f'- 筛选选题：{len(topics)} 条')
                lines.append(f'- 高潜力（≥75）：{len(high_potential)} 条')
                lines.append(f'- 中等潜力（55-70）：{len(medium_potential)} 条')
                lines.append(f'- 最高潜力：{max([t.get("score", 0) for t in topics] or [0])}分')
                
                return {'markdown': '\n'.join(lines)}
        position:
          x: 1300
          y: 100

      - id: save_json
        data:
          type: code
          title: 生成JSON文件
          code: |
            def main(arg1: dict) -> dict:
                from datetime import datetime
                import json
                
                topics = arg1.get('topics', [])
                today = datetime.now().strftime('%Y-%m-%d')
                
                data = {
                    'date': today,
                    'topics': topics,
                    'summary': {
                        'total_topics': len(topics),
                        'high_score_topics': len([t for t in topics if t.get('score', 0) >= 75]),
                        'key_themes': extract_themes(topics)
                    }
                }
                
                return {
                    'json_content': json.dumps(data, ensure_ascii=False, indent=2),
                    'filename': f'inoreader_topics_{today.replace("-", "")}_claude_format.json'
                }
            
            def extract_themes(topics):
                themes = []
                for t in topics[:5]:
                    entity = t.get('entity', '')
                    type_name = t.get('type', '')
                    if entity:
                        themes.append(f"{entity}（{type_name}）")
                return themes
        position:
          x: 1300
          y: 300

      - id: github_push
        data:
          type: http-request
          title: 推送到GitHub
          method: PUT
          url: https://api.github.com/repos/{{#context.github_repo#}}/contents/{{#save_json.result.filename#}}
          headers: |
            {
              "Authorization": "token {{#context.github_token#}}",
              "Content-Type": "application/json"
            }
          body: |
            {
              "message": "Update {{#save_json.result.filename#}} via Dify",
              "content": "{{#save_json.result.json_content# | base64_encode}}",
              "branch": "main"
            }
        position:
          x: 1500
          y: 200

      - id: notify_user
        data:
          type: http-request
          title: 发送通知
          method: POST
          url: https://open.feishu.cn/open-apis/message/v4/send/
          headers: |
            {
              "Authorization": "Bearer {{#context.feishu_token#}}",
              "Content-Type": "application/json"
            }
          body: |
            {
              "chat_id": "{{#context.feishu_chat_id#}}",
              "msg_type": "post",
              "content": {
                "post": {
                  "zh_cn": {
                    "title": "📰 Inoreader每日选题摘要 - {{#generate_markdown.result.markdown | regex_search:'2026-[0-9]{2}-[0-9]{2}'#}}",
                    "content": [
                      [{"tag": "text", "text": "今日共筛选 {{#enrich_data.result.count#}} 条高潜力选题\n"}],
                      [{"tag": "text", "text": "🔥 高潜力（≥75分）：{{#enrich_data.result.topics | selectattr('score', '>=', 75) | list | length#}} 条\n"}],
                      [{"tag": "text", "text": "📌 中等潜力（55-70分）：{{#enrich_data.result.topics | selectattr('score', '>=', 55) | selectattr('score', '<', 75) | list | length#}} 条\n"}],
                      [{"tag": "a", "text": "查看完整报告", "href": "https://github.com/{{#context.github_repo#}}/blob/main/{{#save_json.result.filename#}}"}]
                    ]
                  }
                }
              }
            }
        position:
          x: 1700
          y: 200

      - id: end
        data:
          type: end
          outputs:
            - value_selector:
                - enrich_data
                - result
                - count
              variable: topic_count
            - value_selector:
                - generate_markdown
                - result
                - markdown
              variable: report_markdown
        position:
          x: 1900
          y: 200

    edges:
      - id: start-fetch
        source: start
        target: fetch_inoreader

      - id: fetch-parse
        source: fetch_inoreader
        target: parse_items

      - id: parse-analyze
        source: parse_items
        target: analyze_topics

      - id: analyze-parse
        source: analyze_topics
        target: parse_topics

      - id: parse-enrich
        source: parse_topics
        target: enrich_data

      - id: enrich-md
        source: enrich_data
        target: generate_markdown

      - id: enrich-json
        source: enrich_data
        target: save_json

      - id: json-github
        source: save_json
        target: github_push

      - id: github-notify
        source: github_push
        target: notify_user

      - id: notify-end
        source: notify_user
        target: end

environment_variables:
  - name: inoreader_token
    description: Inoreader API Access Token
    required: true
  - name: github_token
    description: GitHub Personal Access Token
    required: true
  - name: github_repo
    description: GitHub仓库名 (如: mutjan/x-reader)
    required: true
  - name: feishu_token
    description: 飞书Bot Access Token
    required: true
  - name: feishu_chat_id
    description: 飞书聊天ID
    required: true

conversation_variables: []

external_data_tools: []

retrieval_mode: multiple

http_request_node_timeout:
  connect: 10
  read: 30
  write: 30
